There are parts of the sample metadata in the CRC collections that should probably be related to other information sources. Values for geologic age and formation at depth should be associated with other subsurface geology data. Other sources of data may be tied to API well numbers. Operator names, well names, and field names may all be related to other sources as well. A look through current values in the CRC records shows evidence that they have been recorded often as a matter of course but not ever used for this kind of purpose (e.g., many alternate spellings of what is likely the same entity).

This notebook uses the final assempled cores and cuttings collections stashed in MongoDB to work out the basic "dimensions" of the data for the concepts that might be most useful in linking to other related information but are in need of come cleanup.

In [1]:
from pymongo import MongoClient
import pandas as pd
import json

mongo_ndc = MongoClient()

We can get a fairly quick look at the unique values for each property of interest by leveraging groupby in Pandas. The following codeblock works through the main string value properties from both the CRC original data and the surficial geology reference we brought in from the geologic mapping unit amalgamation provided by Macrostrat. Field name, unique value, and number of occurrences go into a dataframe that I drop out to a CSV for further reference.

In [2]:
root_fields = {
    "_id": 0,
    "surface_age" : 1, 
    "gmu_name" : 1, 
    "strat_unit" : 1, 
    "Operator" : 1, 
    "Well Name" : 1, 
    "Field" : 1 
}

all_data = [i for i in mongo_ndc.crc.cores.find({},root_fields)]
all_data.extend([i for i in mongo_ndc.crc.cuttings.find({},root_fields)])

df_all_data = pd.DataFrame(all_data)

count_stats = list()
for field in [k for k in root_fields.keys() if k != "_id"]:
    count_stats.extend({"stat_field": field, "unique_value": x, "count": len(y)} for x, y in df_all_data.groupby(field))

pipeline = [
    {
        u"$unwind": {
            u"path": u"$intervals"
        }
    }, 
    {
        u"$project": {
            u"formation_from_crc": u"$intervals.Formation",
            u"age_from_crc": u"$intervals.Age",
            u"_id": 0
        }
    }
]

crc_age_formation = [i for i in mongo_ndc.crc.cores.aggregate(pipeline)]
crc_age_formation.extend([i for i in mongo_ndc.crc.cuttings.aggregate(pipeline)])

df_crc_age_formation = pd.DataFrame(crc_age_formation)
df_crc_age_formation = df_crc_age_formation.dropna(axis=0, how='any')

count_stats.extend({"stat_field": "formation_from_crc", "unique_value": x, "count": len(y)} for x, y in df_crc_age_formation.groupby("formation_from_crc"))
count_stats.extend({"stat_field": "age_from_crc", "unique_value": x, "count": len(y)} for x, y in df_crc_age_formation.groupby("age_from_crc"))

pipeline = [
    {
        u"$project": {
            u"surface_rocktype": 1.0
        }
    }, 
    {
        u"$unwind": {
            u"path": u"$surface_rocktype"
        }
    }
]

gmu_rocktype = [i for i in mongo_ndc.crc.cores.aggregate(pipeline)]
gmu_rocktype.extend([i for i in mongo_ndc.crc.cuttings.aggregate(pipeline)])

df_gmu_rocktype = pd.DataFrame(gmu_rocktype)

count_stats.extend({"stat_field": "surface_rocktype", "unique_value": x, "count": len(y)} for x, y in df_gmu_rocktype.groupby("surface_rocktype"))

df_count_stats = pd.DataFrame(count_stats)
df_count_stats.to_csv('crcwc_facets.csv')

In [3]:
df_count_stats.head()

    stat_field         unique_value  count
0  surface_age                          85
1  surface_age               Albian     37
2  surface_age  Albian - Cenomanian     23
3  surface_age    Anisian - Carnian     17
4  surface_age      Aptian - Albian      2

Here are the fields we pulled together for further examination, output to a crcwc_facets.csv file. Each of these comes with their own challenges in terms of the actual meaning/significance of the values to the wells in the CRC Well Catalog that will require some further thought.

In [4]:
for field_name, group in df_count_stats.groupby("stat_field"):
    print(field_name)

Field
Operator
Well Name
age_from_crc
formation_from_crc
gmu_name
strat_unit
surface_age
surface_rocktype

If we want to examine a particular property from the facets, we can slice the dataframe like this.

In [5]:
df_count_stats.loc[df_count_stats.stat_field == "surface_rocktype"]

             stat_field    unique_value  count
68623  surface_rocktype        alluvium   2111
68624  surface_rocktype     amphibolite     53
68625  surface_rocktype        andesite    392
68626  surface_rocktype       anhydrite     18
68627  surface_rocktype          aplite      2
...                 ...             ...    ...
68713  surface_rocktype            tuff    756
68714  surface_rocktype        volcanic   4288
68715  surface_rocktype  volcaniclastic     34
68716  surface_rocktype      wackestone      3
68717  surface_rocktype     welded tuff      1

[95 rows x 3 columns]

One interesting area to examine that has a little bit of traction in terms of standardized vocabularies is lithology or rock type. Theoretically, we should be able to find all of the rock type values pulled in from the Macrostrat API against geologic mapping information in the GeoSciML lithology vocabulary. I initially took a crack at trying to work with the search services available through the [CGI GeoScience Vocabularies](http://resource.geosciml.org/classifier/cgi/lithology) but ran into some technical and performance problems, so I cached a derivation of the identifiers, labels, and definitions in a local file [lithology_vocab.json](lithology_vocab.json) just to demonstrate a point.

Ultimately, I think we want individual collection owners and the NDC as a whole to be able to consult a whole set of managed ontologies on a regular basis to find alignment with concepts in source data. Alignment can be some type of direct connection between terms or a specified relationship to a concept in a vocabulary, potentially through an element of uncertainty if a search algorithim is used. As those relationships are built and expressed through the data, they form the basis for integration across disparate collections and new capabilities in search and discovery.

As a simple example of this, I run through a process below to pull up the snapshot of the lithology vocabulary, check for alignment with the rock type terms in our CRC records, add the term URI to those that match, and show the results (53 matching, 42 not). To make this real, a more sophisticated search needs to be developed, hopefully against an established and programmable source for the vocabularies. Further discussion on the utility of this kind of vocabulary alignment work should help to prioritize efforts.

In [6]:
with open("lithology_vocab.json", "r") as f:
    lithology_vocab = json.load(f)
    f.close()

In [7]:
lithology_vocab[:5]

[{'uri': 'http://resource.geosciml.org/classifier/cgi/lithology/acidic_igneous_material',
  'definition': 'Igneous material with more than 63 percent SiO2.',
  'label': 'acidic igneous material'},
 {'uri': 'http://resource.geosciml.org/classifier/cgi/lithology/acidic_igneous_rock',
  'definition': 'Igneous rock with more than 63 percent SiO2.',
  'label': 'acidic igneous rock'},
 {'uri': 'http://resource.geosciml.org/classifier/cgi/lithology/alkali-olivine_basalt',
  'definition': 'Alkali olivine basalt is silica-undersaturated, characterized by the absence of orthopyroxene, absence of quartz, presence of olivine, and typically contains some feldspathoid mineral, alkali feldspar or phlogopite in the groundmass. Feldspar phenocrysts typically are labradorite to andesine in composition. Augite is rich in titanium compared to augite in tholeiitic basalt. Alkali olivine basalt is relatively rich in sodium.',
  'label': 'alkali olivine basalt'},
 {'uri': 'http://resource.geosciml.org/classifier/cgi/lithology/alkali_feldspar_granite',
  'definition': 'Granitic rock that has a plagioclase to total feldspar ratio less than 0.1. QAPF field 2.',
  'label': 'alkali feldspar granite'},
 {'uri': 'http://resource.geosciml.org/classifier/cgi/lithology/alkali_feldspar_rhyolite',
  'definition': 'Rhyolitoid in which the ratio of plagioclase to total feldspar is less than 0.1. QAPF field 2.',
  'label': 'alkali feldspar rhyolite'}]

In [8]:
def lookup_rock_type(label):
    return next((i["uri"] for i in lithology_vocab if i["label"] == label), None)

In [9]:
df_count_stats["term_uri"] = df_count_stats.apply(lambda x: lookup_rock_type(x["unique_value"]), axis=1)

In [10]:
df_count_stats.loc[(df_count_stats.stat_field == "surface_rocktype") & (df_count_stats.term_uri.notnull())]

,stat_field,unique_value,count,term_uri
68624,surface_rocktype,amphibolite,53,http://resource.geosciml.org/classifier/cgi/li...
68625,surface_rocktype,andesite,392,http://resource.geosciml.org/classifier/cgi/li...
68627,surface_rocktype,aplite,2,http://resource.geosciml.org/classifier/cgi/li...
68628,surface_rocktype,arenite,92,http://resource.geosciml.org/classifier/cgi/li...
68632,surface_rocktype,basalt,43,http://resource.geosciml.org/classifier/cgi/li...
68633,surface_rocktype,breccia,39,http://resource.geosciml.org/classifier/cgi/li...
68635,surface_rocktype,chalk,83,http://resource.geosciml.org/classifier/cgi/li...
68637,surface_rocktype,clay,4229,http://resource.geosciml.org/classifier/cgi/li...
68638,surface_rocktype,claystone,11592,http://resource.geosciml.org/classifier/cgi/li...
68639,surface_rocktype,coal,8047,http://resource.geosciml.org/classifier/cgi/li...
68641,surface_rocktype,conglomerate,12505,http://resource.geosciml.org/classifier/cgi/li...
68643,surface_rocktype,dacite,18,http://resource.geosciml.org/classifier/cgi/li...
68645,surface_rocktype,diamictite,43,http://resource.geosciml.org/classifier/cgi/li...
68646,surface_rocktype,diorite,13,http://resource.geosciml.org/classifier/cgi/li...
68647,surface_rocktype,dolomite,87,http://resource.geosciml.org/classifier/cgi/li...
68650,surface_rocktype,evaporite,44,http://resource.geosciml.org/classifier/cgi/li...
68652,surface_rocktype,gabbro,3,http://resource.geosciml.org/classifier/cgi/li...
68654,surface_rocktype,gneiss,67,http://resource.geosciml.org/classifier/cgi/li...
68655,surface_rocktype,grainstone,3,http://resource.geosciml.org/classifier/cgi/li...
68656,surface_rocktype,granite,221,http://resource.geosciml.org/classifier/cgi/li...
68657,surface_rocktype,granodiorite,37,http://resource.geosciml.org/classifier/cgi/li...
68658,surface_rocktype,gravel,4583,http://resource.geosciml.org/classifier/cgi/li...
68666,surface_rocktype,latite,6,http://resource.geosciml.org/classifier/cgi/li...
68667,surface_rocktype,lignite,5387,http://resource.geosciml.org/classifier/cgi/li...
68668,surface_rocktype,limestone,5494,http://resource.geosciml.org/classifier/cgi/li...
68671,surface_rocktype,marble,19,http://resource.geosciml.org/classifier/cgi/li...
68675,surface_rocktype,migmatite,7,http://resource.geosciml.org/classifier/cgi/li...
68676,surface_rocktype,monzogranite,7,http://resource.geosciml.org/classifier/cgi/li...
68677,surface_rocktype,monzonite,30,http://resource.geosciml.org/classifier/cgi/li...
68678,surface_rocktype,mud,228,http://resource.geosciml.org/classifier/cgi/li...
68679,surface_rocktype,mudstone,7986,http://resource.geosciml.org/classifier/cgi/li...
68681,surface_rocktype,packstone,2,http://resource.geosciml.org/classifier/cgi/li...
68682,surface_rocktype,peat,85,http://resource.geosciml.org/classifier/cgi/li...
68683,surface_rocktype,pegmatite,1,http://resource.geosciml.org/classifier/cgi/li...
68684,surface_rocktype,peridotite,8,http://resource.geosciml.org/classifier/cgi/li...
68685,surface_rocktype,phonolite,1,http://resource.geosciml.org/classifier/cgi/li...
68686,surface_rocktype,phosphorite,351,http://resource.geosciml.org/classifier/cgi/li...
68687,surface_rocktype,phyllite,9,http://resource.geosciml.org/classifier/cgi/li...
68691,surface_rocktype,quartz monzonite,30,http://resource.geosciml.org/classifier/cgi/li...
68692,surface_rocktype,quartzite,204,http://resource.geosciml.org/classifier/cgi/li...
68694,surface_rocktype,rhyolite,110,http://resource.geosciml.org/classifier/cgi/li...
68695,surface_rocktype,sand,8023,http://resource.geosciml.org/classifier/cgi/li...
68696,surface_rocktype,sandstone,32179,http://resource.geosciml.org/classifier/cgi/li...
68697,surface_rocktype,schist,24,http://resource.geosciml.org/classifier/cgi/li...
68699,surface_rocktype,shale,20856,http://resource.geosciml.org/classifier/cgi/li...
68702,surface_rocktype,silt,7119,http://resource.geosciml.org/classifier/cgi/li...
68703,surface_rocktype,siltstone,16888,http://resource.geosciml.org/classifier/cgi/li...
68704,surface_rocktype,slate,6,http://resource.geosciml.org/classifier/cgi/li...
68706,surface_rocktype,syenite,2,http://resource.geosciml.org/classifier/cgi/li...
68707,surface_rocktype,tephra,3,http://resource.geosciml.org/classifier/cgi/li...
68709,surface_rocktype,tonalite,5,http://resource.geosciml.org/classifier/cgi/li...
68710,surface_rocktype,trachyte,10,http://resource.geosciml.org/classifier/cgi/li...
68711,surface_rocktype,travertine,4,http://resource.geosciml.org/classifier/cgi/li...

In [11]:
df_count_stats.loc[(df_count_stats.stat_field == "surface_rocktype") & (df_count_stats.term_uri.isnull())]

             stat_field     unique_value  count term_uri
68623  surface_rocktype         alluvium   2111     None
68626  surface_rocktype        anhydrite     18     None
68629  surface_rocktype        argillite     55     None
68630  surface_rocktype           arkose    582     None
68631  surface_rocktype              ash    352     None
68634  surface_rocktype        carbonate    982     None
68636  surface_rocktype            chert   1082     None
68640  surface_rocktype        colluvium    334     None
68642  surface_rocktype          coquina    155     None
68644  surface_rocktype          diabase      3     None
68648  surface_rocktype        dolostone    607     None
68649  surface_rocktype            drift     48     None
68651  surface_rocktype          felsite      7     None
68653  surface_rocktype            glass     16     None
68659  surface_rocktype        graywacke      1     None
68660  surface_rocktype             grit     57     None
68661  surface_rocktype           gypsum    637     None
68662  surface_rocktype           halite      3     None
68663  surface_rocktype          igneous    265     None
68664  surface_rocktype   iron formation      7     None
68665  surface_rocktype        ironstone    103     None
68669  surface_rocktype            loess    374     None
68670  surface_rocktype            mafic     35     None
68672  surface_rocktype             marl    160     None
68673  surface_rocktype      metamorphic     24     None
68674  surface_rocktype  metasedimentary     25     None
68680  surface_rocktype           oolite      5     None
68688  surface_rocktype         plutonic     10     None
68689  surface_rocktype           pumice     23     None
68690  surface_rocktype   quartz arenite      1     None
68693  surface_rocktype       rhyodacite      2     None
68698  surface_rocktype      sedimentary    493     None
68700  surface_rocktype         siderite     38     None
68701  surface_rocktype    siliciclastic     31     None
68705  surface_rocktype             soil    116     None
68708  surface_rocktype             till     38     None
68712  surface_rocktype            trona      3     None
68713  surface_rocktype             tuff    756     None
68714  surface_rocktype         volcanic   4288     None
68715  surface_rocktype   volcaniclastic     34     None
68716  surface_rocktype       wackestone      3     None
68717  surface_rocktype      welded tuff      1     None

One other potential point of interest from the CRC catalog that represents an untapped resource is the collection of "analysis" files that are linked to cores and cuttings. As part of our data amalgamation, we brought all of these together and can examine what we may have. The following codeblock simply pulls all the document links together and splits out their file extensions so we can pull a quick summary. The collection of documents is really a hodgepodge of various types of things, some of which do represent analytical results from various types of analyses on the samples, but others are simply related artifacts that have been collected and stored over time by the CRC.

In [12]:
pipeline = [
    {
        u"$project": {
            u"documents": 1.0
        }
    }, 
    {
        u"$unwind": {
            u"path": u"$documents"
        }
    }
]

all_documents = [i for i in mongo_ndc.crc.cores.aggregate(pipeline)]
all_documents.extend([i for i in mongo_ndc.crc.cuttings.aggregate(pipeline)])
df_documents = pd.DataFrame(all_documents)
df_documents["filename"] = df_documents.apply(lambda x: x.documents.split("/")[-1], axis=1)
df_documents["extension"] = df_documents.apply(lambda x: x.documents.split(".")[-1].lower(), axis=1)

for extension, group in df_documents.groupby("extension"):
    print(extension, len(group))

 3
bmd 154
bmp 1
csv 106
db 3
doc 57
docx 119
emf 28
hdr 41
jpg 590
las 6
mp4 3
pdf 8741
png 34
ppt 65
pptx 79
psd 168
tif 2141
tiff 1
txt 5
xls 2115
xlsb 3
xlsm 178
xlsx 3406
xps 2
zip 72

Some of these files represent more potentially exploitable material than others. The following codeblocks dump out just the CSV results and then pull up a couple of random examples via Pandas. We could run through a process to try and read as many files as possible from this system, summarizing their contents and adding further metadata to our catalog. Pulling all of what we could extract in this fashion would at least generate some type of master registry of analytes and other properties that could be further examined through semantic alignment work.

In [13]:
df_documents.loc[df_documents.extension == "csv"]

,_id,documents,filename,extension
91,5d87a63b0863b1fac6a7cba1,http://my.usgs.gov/crc-data/core/16106/core_an...,core_analysis_88604_T038data09.csv,csv
468,5d87a63b0863b1fac6a7cd1c,http://my.usgs.gov/crc-data/core/77935/core_an...,core_analysis_108350_S505XRFData01.csv,csv
732,5d87a63b0863b1fac6a7cda1,http://my.usgs.gov/crc-data/prod/core/99399/co...,core_analysis_122480_S452BioStratData01.csv,csv
752,5d87a63b0863b1fac6a7cdbc,http://my.usgs.gov/crc-data/core/78910/core_an...,core_analysis_80308_T481Data01.csv,csv
1295,5d87a63b0863b1fac6a7cf77,http://my.usgs.gov/crc-data/core/9209/core_ana...,core_analysis_88593_B136data08.csv,csv
1335,5d87a63b0863b1fac6a7cf8d,http://my.usgs.gov/crc-data/core/14652/core_an...,core_analysis_83822_W074Geochem01.csv,csv
1554,5d87a63b0863b1fac6a7d044,http://my.usgs.gov/crc-data/core/13657/core_an...,core_analysis_80164_S601data7.csv,csv
1571,5d87a63b0863b1fac6a7d04e,http://my.usgs.gov/crc-data/core/11925/core_an...,core_analysis_88601_E190data05.csv,csv
2463,5d87a63b0863b1fac6a7d2bd,http://my.usgs.gov/crc-data/prod/core/17558/co...,core_analysis_123431_V248GeoChemData01.csv,csv
2793,5d87a63b0863b1fac6a7d3dd,http://my.usgs.gov/crc-data/core/16121/core_an...,core_analysis_113056_T055-Data02.csv,csv
2794,5d87a63b0863b1fac6a7d3dd,http://my.usgs.gov/crc-data/core/16121/core_an...,core_analysis_113059_T055-data05.csv,csv
2796,5d87a63b0863b1fac6a7d3dd,http://my.usgs.gov/crc-data/core/16121/core_an...,core_analysis_113060_T055-TOC01.csv,csv
2799,5d87a63b0863b1fac6a7d3dd,http://my.usgs.gov/crc-data/core/16121/core_an...,core_analysis_113057_T055-data03.csv,csv
2800,5d87a63b0863b1fac6a7d3dd,http://my.usgs.gov/crc-data/core/16121/core_an...,core_analysis_113058_T055-data04.csv,csv
3102,5d87a63b0863b1fac6a7d525,http://my.usgs.gov/crc-data/core/11639/core_an...,core_analysis_88599_D587data04.csv,csv
3311,5d87a63b0863b1fac6a7d5e7,http://my.usgs.gov/crc-data/core/14109/core_an...,core_analysis_75765_T322data12.csv,csv
3316,5d87a63b0863b1fac6a7d5e7,http://my.usgs.gov/crc-data/core/14109/core_an...,core_analysis_77087_T322data14.csv,csv
3487,5d87a63b0863b1fac6a7d681,http://my.usgs.gov/crc-data/core/13238/core_an...,core_analysis_74794_F008Data12.CSV,csv
3492,5d87a63b0863b1fac6a7d681,http://my.usgs.gov/crc-data/core/13238/core_an...,core_analysis_74795_F008Data13.csv,csv
3537,5d87a63b0863b1fac6a7d69d,http://my.usgs.gov/crc-data/core/13499/core_an...,core_analysis_113042_S014-Data16.csv,csv
3543,5d87a63b0863b1fac6a7d69d,http://my.usgs.gov/crc-data/core/13499/core_an...,core_analysis_113044_S014-TOC01.csv,csv
3548,5d87a63b0863b1fac6a7d69d,http://my.usgs.gov/crc-data/core/13499/core_an...,core_analysis_113041_S014-data15.csv,csv
3552,5d87a63b0863b1fac6a7d69d,http://my.usgs.gov/crc-data/core/13499/core_an...,core_analysis_113045_S014-toc02.csv,csv
3555,5d87a63b0863b1fac6a7d69d,http://my.usgs.gov/crc-data/core/13499/core_an...,core_analysis_113040_S014-Data14.csv,csv
3559,5d87a63b0863b1fac6a7d69d,http://my.usgs.gov/crc-data/core/13499/core_an...,core_analysis_113043_S014-Data17.csv,csv
3790,5d87a63b0863b1fac6a7d74e,http://my.usgs.gov/crc-data/prod/core/10961/co...,core_analysis_122475_D116BioStratData01.csv,csv
4211,5d87a63b0863b1fac6a7d8a9,http://my.usgs.gov/crc-data/core/13946/core_an...,core_analysis_83826_S462Geochem01.csv,csv
4232,5d87a63b0863b1fac6a7d8ac,http://my.usgs.gov/crc-data/core/11022/core_an...,core_analysis_88597_D281data13.csv,csv
4273,5d87a63b0863b1fac6a7d8d6,http://my.usgs.gov/crc-data/core/11229/core_an...,core_analysis_88595_D229data17.csv,csv
4452,5d87a63b0863b1fac6a7d96f,http://my.usgs.gov/crc-data/core/13202/core_an...,core_analysis_113061_R640-Data03.csv,csv
...,...,...,...,...
11108,5d87a63b0863b1fac6a7ece0,http://my.usgs.gov/crc-data/prod/core/14304/co...,core_analysis_122476_F053BioStratData01.csv,csv
11185,5d87a63b0863b1fac6a7ed0f,http://my.usgs.gov/crc-data/core/9882/core_ana...,core_analysis_83813_C233Geochem01.csv,csv
11285,5d87a63b0863b1fac6a7ed45,http://my.usgs.gov/crc-data/core/16122/core_an...,core_analysis_113074_T056-toc01.csv,csv
11302,5d87a63b0863b1fac6a7ed45,http://my.usgs.gov/crc-data/core/16122/core_an...,core_analysis_113072_T056-Data07.csv,csv
11495,5d87a63b0863b1fac6a7ede2,http://my.usgs.gov/crc-data/core/9578/core_ana...,core_analysis_82184_B821Data20.csv,csv
11506,5d87a63b0863b1fac6a7edf4,http://my.usgs.gov/crc-data/core/12149/core_an...,core_analysis_82185_E519Data07.csv,csv
11586,5d87a63b0863b1fac6a7ee0f,http://my.usgs.gov/crc-data/core/8057/core_ana...,core_analysis_83827_A029Geochem01.csv,csv
11657,5d87a63b0863b1fac6a7ee39,http://my.usgs.gov/crc-data/core/17573/core_an...,core_analysis_80173_R082data06.csv,csv
12135,5d87a63b0863b1fac6a7ef9f,http://my.usgs.gov/crc-data/core/11535/core_an...,core_analysis_88598_D483data07.csv,csv
12171,5d87a63b0863b1fac6a7efc4,http://my.usgs.gov/crc-data/core/10650/core_an...,core_analysis_88594_D012data06.csv,csv
12264,5d87a63b0863b1fac6a7f015,http://my.usgs.gov/crc-data/core/9462/core_ana...,core_analysis_81937_B703Biostrat01.csv,csv
12320,5d87a63b0863b1fac6a7f03e,http://my.usgs.gov/crc-data/core/15761/core_an...,core_analysis_99803_T548Data06.csv,csv
14325,5d87b4260863b1fac6a8543f,http://my.usgs.gov/crc-data/prod/cutting/24104...,cutting_analysis_122470_CZ11554BioStratData01.csv,csv
14459,5d87b4260863b1fac6a858b4,http://my.usgs.gov/crc-data/prod/cutting/24170...,cutting_analysis_122473_CZ12695BioStratData01.csv,csv
14671,5d87b4260863b1fac6a85d5f,http://my.usgs.gov/crc-data/prod/cutting/26541...,cutting_analysis_122477_CZ13891BioStratData01.csv,csv
15299,5d87b4260863b1fac6a86b6e,http://my.usgs.gov/crc-data/prod/cutting/51948...,cutting_analysis_122468_CZ17500BiostratData01.csv,csv
16036,5d87b4260863b1fac6a895ec,http://my.usgs.gov/crc-data/prod/cutting/34954...,cutting_analysis_123916_DZ13334GeoChem01.csv,csv
16652,5d87b7eb0863b1fac6a8a4d6,http://my.usgs.gov/crc-data/cutting/39841/cutt...,cutting_analysis_96550_DZ16865Data05.csv,csv
16967,5d87b7eb0863b1fac6a8aa07,http://my.usgs.gov/crc-data/prod/cutting/42715...,cutting_analysis_123925_DZ18415GeoChem02.csv,csv
17657,5d87b7eb0863b1fac6a8b354,http://my.usgs.gov/crc-data/prod/cutting/50094...,cutting_analysis_123915_DZ21069GeoChem01.csv,csv
17660,5d87b7eb0863b1fac6a8b35c,http://my.usgs.gov/crc-data/cutting/50366/cutt...,cutting_analysis_96560_DZ21084Data08.csv,csv
17839,5d87b7eb0863b1fac6a8bdb3,http://my.usgs.gov/crc-data/prod/cutting/49836...,cutting_analysis_122479_GA00086BioStratData01.csv,csv
17860,5d87b7eb0863b1fac6a8bf70,http://my.usgs.gov/crc-data/prod/cutting/50981...,cutting_analysis_122474_HH00373BioStratData01.csv,csv
18053,5d87b7eb0863b1fac6a8c4d5,http://my.usgs.gov/crc-data/cutting/80717/cutt...,cutting_analysis_80870_WellHeader86.csv,csv
18058,5d87b7eb0863b1fac6a8c4d6,http://my.usgs.gov/crc-data/cutting/80723/cutt...,cutting_analysis_80874_WellHeader75.csv,csv
18073,5d87b7eb0863b1fac6a8c4d7,http://my.usgs.gov/crc-data/cutting/80727/cutt...,cutting_analysis_80895_WellHeader47.csv,csv
18082,5d87b7eb0863b1fac6a8c4d8,http://my.usgs.gov/crc-data/cutting/80734/cutt...,cutting_analysis_80898_WellHeader13.csv,csv
18086,5d87b7eb0863b1fac6a8c4e3,http://my.usgs.gov/crc-data/cutting/80791/cutt...,cutting_analysis_80902_WellHeader40.csv,csv
18088,5d87b7eb0863b1fac6a8c4e4,http://my.usgs.gov/crc-data/cutting/80795/cutt...,cutting_analysis_80906_WellHeader17.csv,csv
18099,5d87b7eb0863b1fac6a8c514,http://my.usgs.gov/crc-data/cutting/104783/cut...,cutting_analysis_104785_HH01823XRFData01.csv,csv

This example, picked at random, indicates a couple of problems often encountered with reading CSV data - dealing with different text encoding from CSV generated from Windows operating systems, in particular, and finding the actual data table within what may be a mixed bag of header information. There are various messy data tools that help to deal with some of these problems. The Excel files are sometimes even more challenging to deal with as they often contain a whole lot of additional metadata about the data file structured in various ways that can be difficult to handle without very specific software.

In [14]:
pd.read_csv(df_documents.iloc[12264]["documents"], encoding='latin1')

,Sample data for well: 1 McTuillin Federal B703,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 126,Unnamed: 127,Unnamed: 128,Unnamed: 129,Unnamed: 130,Unnamed: 131,Unnamed: 132,Unnamed: 133,Unnamed: 134,Unnamed: 135
0,depth,type,analyst,label,Bisaccate pollen,Chatangiella spp.,Circulodinium spp.,Circulodinium distinctum,Cribroperidinium spp.,Exochosphaeridium spp.,...,Laevigatosporites gracilis,Pterospermella zonaria,Dinopterygium konradense,Florentinia cooksoniae,"Genus A sp. 1 Upshaw, 1964",Klukisporites spp.,Isabelidinium? amphiatum,Rouseisporites reticulatus,Scriniodinium `simplicum` ROB,?Florentinia mantellii
1,NaN,NaN,NaN,NaN,MI,DC,DC,DC,DC,DC,...,MI,AL,DC,DC,MI,MI,DC,MI,DC,DC
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4824.7,CO,JPGF,NaN,32,2,1,3,+,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4827,CO,JPGF,NaN,61,4,NaN,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4828.3,CO,JPGF,NaN,38,3,NaN,1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4838.2,CO,JPGF,NaN,61,5,NaN,1,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4844.7,CO,JPGF,NaN,54,5,2,4,4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,4849,CO,JPGF,NaN,82,2,NaN,+,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4851.3,CO,JPGF,NaN,92,2,1,3,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4852.6,CO,JPGF,NaN,53,3,2,NaN,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,4852.7,CO,JPGF,NaN,51,3,20,5,4,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,4855,CO,JPGF,NaN,57,1,12,4,6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,4867,CO,JPGF,NaN,28,4,14,4,3,2,...,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,4876.6,CO,JPGF,NaN,15,4,2,NaN,2,2,...,NaN,NaN,+,+,1,1,NaN,NaN,NaN,NaN
15,4882.8,CO,JPGF,NaN,28,NaN,6,4,2,+,...,NaN,NaN,NaN,NaN,NaN,NaN,+,+,+,NaN
16,4890,CO,JPGF,NaN,24,NaN,7,NaN,2,1,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,+,1

This example is reasonably typical of geochemical analyses where we have some identifiers that are likely not referenced in the actual CRC metadata, depth values where subsamples were taken, and analyte names that need to be deciphered.

In [15]:
pd.read_csv(df_documents.iloc[3537]["documents"])

,Sample,Sample_id1,Sample_id2,Depth_ft,C_pct,H_pct,N_pct,H/C,N/C,tot_Kerogen_S_pct,tot_Kerogen_S/C,Pyritic_Fe_pct,Pyritic_S_pct,Organic_S_pct,Organic_S/C
0,E150503-001,HP7-149.5,7 HP Beaver,149.5,57.45,5.26,1.93,1.09,0.03,5.54,0.04,2.25,2.58,2.96,0.02
1,E150503-002,HP2-242.9,2 HP Potter,242.9,53.58,4.92,1.60,1.09,0.03,5.22,0.04,1.76,2.02,3.20,0.02
2,E150503-003,BN-4536,1-3 BN Coastal,4536.0,64.53,5.97,2.16,1.10,0.03,4.44,0.03,2.28,2.62,1.82,0.01
3,E150503-004,HP3-272.5,3 HP Heath,272.5,56.64,5.23,1.88,1.10,0.03,6.90,0.05,3.02,3.47,3.43,0.02